@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
  z-index: 9999;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.chat-widget iframe {
  width: 100%;
  height: 100%;
  border: none;
}
